@import "src/theme/theme";

.root {
  flex: 1;

  min-height: calc(100vh - 68px - env(safe-area-inset-bottom));

  z-index: 2;
  padding: $spacing;
  overflow-y: auto;
  padding-bottom: calc(68px + $spacing + env(safe-area-inset-bottom));

  @media (min-width: 899px) {
    margin-left: $drawer-menu-width;
    margin-bottom: 0;
  }
}