@import "src/theme/theme";

.root {
  flex: 1;

  height: calc(100vh - 64px - env(safe-area-inset-bottom));
  margin-left: 0;
  z-index: 2;
  padding: $spacing;
  overflow-y: auto;

  @media (min-width: 899px) {
    margin-left: $drawer-menu-width;
    height: calc(100vh - env(safe-area-inset-bottom));
  }
}