@import "src/theme/theme";


.root_bottom {
  background-color: $white !important;
  padding-bottom: env(safe-area-inset-bottom) !important;

  :global(.MuiToolbar-root) {
    a {
      flex-direction: column;
    }
  }
}

.root_left {
  :global(.MuiPaper-root) {
    flex: none;
    width: $drawer-menu-width;
    height: 100%;
    min-height: 500px;
    overflow-y: auto;
    padding: ($spacing) 0;

    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .logo {
    width: 100%;
    padding: spacing(.5);
    margin-bottom: 50px;

    text-align: center;
  
    & > * {
      width: 64px;
      height: auto;
    }
  }
  
  .spacer {
    flex-grow: 1;
  }

  .info {
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    color: $gray-400;
  }

  .status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: $red-400;


    &.up {
      background: $green-400;
    }
  }
}