name: docker-image

on:
  push:
    branches:
      - "main"
  release:
    types: [published]

jobs:
  build:
    name: Build container
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ^1.19
          go-version-file: 'server/go.mod'
        id: go

      - name: Get dependencies
        run: cd server && go mod download

      - name: Test
        run: cd server && go test -v ./...

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.HUB_TOKEN }}

      - name: Log in to ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ github.repository_owner }}/${{ github.event.repository.name }}
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
          tags: |
            type=semver,pattern=v{{version}},enable=${{ github.event_name == 'release' }}
            type=semver,pattern=v{{major}}.{{minor}},enable=${{ github.event_name == 'release' }}
            type=semver,pattern=v{{major}},enable=${{ github.event_name == 'release' }}
            type=raw,value=latest,enable=${{ github.event_name == 'release' }}
            type=raw,value=develop,enable=${{ github.event_name != 'release' }}
            type=sha,enable=${{ github.event_name != 'release' }}

      - name: App environment
        id: compute-vars
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "::set-output name=app-version::${{ github.event.release.tag_name }}"
          else
            echo "::set-output name=app-version::${{ github.sha }}"
          fi

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            APP_VERSION=${{ steps.compute-vars.outputs.app-version }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  sync-description:
    name: Docker Hub - Sync description
    needs: build
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare README
        run: |
          cat README.md | sed -e 's/ghcr.io\///g' > README_hub.md

      - name: Sync README and description
        uses: bemble/sync-readme@v1.0.0
        with:
          pass: ${{ secrets.HUB_TOKEN }}
          totp_secret: ${{ secrets.HUB_TOTP_SECRET }}
          description: true
          readme: ./README_hub.md